body {
  overflow: hidden;
}

.euiPage {
  width: 100vw;
  height: calc(100vh - 48px);
}

.euiFlyout {
  top: 48px;
  height: calc(100vh - 48px);
}

.main-nav-mask {
  top: 48px;
  height: calc(100vh - 48px);
}

.app-settings {
  min-width: 300px;
}

kbd {
  font-size: 0.8em;
  padding: 0.2em 0.3em !important;
  box-sizing: border-box;
  border-image: initial;
  border-radius: 0.25em;
  border-width: 1px 1px 2px;
  border: 1px solid #c8c8c8 !important;
}
