<mat-form-field color="accent" class="w-100">
  <mat-select name="species" [placeholder]="'Species' | translate" [value]="value" (selectionChange)="onChange($event)">
    <mat-option value="1" selected>Unspecified / Any</mat-option>
    <mat-optgroup label="Amphibian">
      <mat-option value="1001">Frog</mat-option>
      <mat-option value="1002">Newt</mat-option>
      <mat-option value="1003">Salamander</mat-option>
      <mat-option value="1000">Amphibian (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Aquatic">
      <mat-option value="2001">Cephalopod</mat-option>
      <mat-option value="2002">Dolphin</mat-option>
      <mat-option value="2005">Fish</mat-option>
      <mat-option value="2004">Porpoise</mat-option>
      <mat-option value="6068">Seal</mat-option>
      <mat-option value="2006">Shark</mat-option>
      <mat-option value="2003">Whale</mat-option>
      <mat-option value="2000">Aquatic (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Avian">
      <mat-option value="3001">Corvid</mat-option>
      <mat-option value="3002">Crow</mat-option>
      <mat-option value="3003">Duck</mat-option>
      <mat-option value="3004">Eagle</mat-option>
      <mat-option value="3005">Falcon</mat-option>
      <mat-option value="3006">Goose</mat-option>
      <mat-option value="3007">Gryphon</mat-option>
      <mat-option value="3008">Hawk</mat-option>
      <mat-option value="3009">Owl</mat-option>
      <mat-option value="3010">Phoenix</mat-option>
      <mat-option value="3011">Swan</mat-option>
      <mat-option value="3000">Avian (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Bears &amp; Ursines">
      <mat-option value="6002">Bear</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Camelids">
      <mat-option value="6074">Camel</mat-option>
      <mat-option value="6036">Llama</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Canines &amp; Lupines">
      <mat-option value="6008">Coyote</mat-option>
      <mat-option value="6009">Doberman</mat-option>
      <mat-option value="6010">Dog</mat-option>
      <mat-option value="6011">Dingo</mat-option>
      <mat-option value="6012">German Shepherd</mat-option>
      <mat-option value="6013">Jackal</mat-option>
      <mat-option value="6014">Husky</mat-option>
      <mat-option value="6016">Wolf</mat-option>
      <mat-option value="6017">Canine (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Cervines">
      <mat-option value="6018">Cervine (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Cows &amp; Bovines">
      <mat-option value="6004">Antelope</mat-option>
      <mat-option value="6003">Cows</mat-option>
      <mat-option value="6005">Gazelle</mat-option>
      <mat-option value="6006">Goat</mat-option>
      <mat-option value="6007">Bovines (General)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Dragons">
      <mat-option value="4001">Eastern Dragon</mat-option>
      <mat-option value="4002">Hydra</mat-option>
      <mat-option value="4003">Serpent</mat-option>
      <mat-option value="4004">Western Dragon</mat-option>
      <mat-option value="4005">Wyvern</mat-option>
      <mat-option value="4000">Dragon (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Equestrians">
      <mat-option value="6019">Donkey</mat-option>
      <mat-option value="6034">Horse</mat-option>
      <mat-option value="6073">Pony</mat-option>
      <mat-option value="6071">Zebra</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Exotic &amp; Mythicals">
      <mat-option value="5002">Argonian</mat-option>
      <mat-option value="5003">Chakat</mat-option>
      <mat-option value="5004">Chocobo</mat-option>
      <mat-option value="5005">Citra</mat-option>
      <mat-option value="5006">Crux</mat-option>
      <mat-option value="5007">Daemon</mat-option>
      <mat-option value="5008">Digimon</mat-option>
      <mat-option value="5009">Dracat</mat-option>
      <mat-option value="5010">Draenei</mat-option>
      <mat-option value="5011">Elf</mat-option>
      <mat-option value="5012">Gargoyle</mat-option>
      <mat-option value="5013">Iksar</mat-option>
      <mat-option value="5015">Kaiju/Monster</mat-option>
      <mat-option value="5014">Langurhali</mat-option>
      <mat-option value="5017">Moogle</mat-option>
      <mat-option value="5016">Naga</mat-option>
      <mat-option value="5018">Orc</mat-option>
      <mat-option value="5019">Pokemon</mat-option>
      <mat-option value="5020">Satyr</mat-option>
      <mat-option value="5021">Sergal</mat-option>
      <mat-option value="5022">Tanuki</mat-option>
      <mat-option value="5023">Unicorn</mat-option>
      <mat-option value="5024">Xenomorph</mat-option>
      <mat-option value="5001">Alien (Other)</mat-option>
      <mat-option value="5000">Exotic (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Felines">
      <mat-option value="6020">Domestic Cat</mat-option>
      <mat-option value="6021">Cheetah</mat-option>
      <mat-option value="6022">Cougar</mat-option>
      <mat-option value="6023">Jaguar</mat-option>
      <mat-option value="6024">Leopard</mat-option>
      <mat-option value="6025">Lion</mat-option>
      <mat-option value="6026">Lynx</mat-option>
      <mat-option value="6027">Ocelot</mat-option>
      <mat-option value="6028">Panther</mat-option>
      <mat-option value="6029">Tiger</mat-option>
      <mat-option value="6030">Feline (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Insects">
      <mat-option value="8000">Arachnid</mat-option>
      <mat-option value="8004">Mantid</mat-option>
      <mat-option value="8005">Scorpion</mat-option>
      <mat-option value="8003">Insect (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mammals (Other)">
      <mat-option value="6001">Bat</mat-option>
      <mat-option value="6031">Giraffe</mat-option>
      <mat-option value="6032">Hedgehog</mat-option>
      <mat-option value="6033">Hippopotamus</mat-option>
      <mat-option value="6035">Hyena</mat-option>
      <mat-option value="6052">Panda</mat-option>
      <mat-option value="6053">Pig/Swine</mat-option>
      <mat-option value="6059">Rabbit/Hare</mat-option>
      <mat-option value="6060">Raccoon</mat-option>
      <mat-option value="6062">Red Panda</mat-option>
      <mat-option value="6043">Meerkat</mat-option>
      <mat-option value="6044">Mongoose</mat-option>
      <mat-option value="6063">Rhinoceros</mat-option>
      <mat-option value="6000">Mammals (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Marsupials">
      <mat-option value="6037">Opossum</mat-option>
      <mat-option value="6038">Kangaroo</mat-option>
      <mat-option value="6039">Koala</mat-option>
      <mat-option value="6040">Quoll</mat-option>
      <mat-option value="6041">Wallaby</mat-option>
      <mat-option value="6042">Marsupial (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mustelids">
      <mat-option value="6045">Badger</mat-option>
      <mat-option value="6046">Ferret</mat-option>
      <mat-option value="6048">Mink</mat-option>
      <mat-option value="6047">Otter</mat-option>
      <mat-option value="6069">Skunk</mat-option>
      <mat-option value="6049">Weasel</mat-option>
      <mat-option value="6051">Mustelid (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Primates">
      <mat-option value="6054">Gorilla</mat-option>
      <mat-option value="6055">Human</mat-option>
      <mat-option value="6056">Lemur</mat-option>
      <mat-option value="6057">Monkey</mat-option>
      <mat-option value="6058">Primate (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Reptillian">
      <mat-option value="7001">Alligator &amp; Crocodile</mat-option>
      <mat-option value="7003">Gecko</mat-option>
      <mat-option value="7004">Iguana</mat-option>
      <mat-option value="7005">Lizard</mat-option>
      <mat-option value="7006">Snakes &amp; Serpents</mat-option>
      <mat-option value="7007">Turtle</mat-option>
      <mat-option value="7000">Reptilian (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Rodents">
      <mat-option value="6064">Beaver</mat-option>
      <mat-option value="6065">Mouse</mat-option>
      <mat-option value="6061">Rat</mat-option>
      <mat-option value="6070">Squirrel</mat-option>
      <mat-option value="6067">Rodent (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Vulpines">
      <mat-option value="6072">Fennec</mat-option>
      <mat-option value="6075">Fox</mat-option>
      <mat-option value="6015">Vulpine (Other)</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Other">
      <mat-option value="8001">Dinosaur</mat-option>
      <mat-option value="6050">Wolverine</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
