<button mat-button class="d-block w-100 filter-btn" (click)="openFilterDialog()">
  {{ 'Filter' | translate }} <i class="fas fa-filter"></i>
</button>
<table class="table table-dark m-0">
  <tbody>
    <tr *ngFor="let config of loggedInWebsites">
      <td>
        <login-status-view [config]="config"></login-status-view>
      </td>
    </tr>

    <tr *ngFor="let config of loggedOutWebsites">
      <td>
        <login-status-view [config]="config"></login-status-view>
      </td>
    </tr>
  </tbody>
</table>
