<h2 mat-dialog-title>{{'Save' | translate}}</h2>
<mat-dialog-content>
  <div *ngFor="let website of websiteKeys" class="website-field">
    <div><img [src]="getLogo(website)" alt="{{website}}" height="30px" width="50px"></div>
    <submission-picker height="100px" [website]="website" [submissions]="websiteMap[website]" [readOnly]="true"></submission-picker>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="warn" mat-dialog-close>{{'No' | translate}}</button>
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)" [disabled]="invalid.length === data.length">{{'Yes' | translate}}</button>
  <button mat-raised-button color="primary" (click)="dialogRef.close('POST')" [disabled]="invalid.length === data.length">{{'Post' | translate}}</button>
  <button type="button" matInput mat-raised-button color="accent" (click)="showHelp()">{{'Help' | translate}}</button>
</mat-dialog-actions>