.website-field {
  display: flex;
}

.website-field+.website-field {
  margin-top: 4px;
}

.website-field img {
  margin: 50% 0;
  height: auto;
}

.website-field submission-picker {
  display: inline-block;
  flex: 1;
}

.invalid-section {
    margin-bottom: 15px;
}
