<h2 mat-dialog-title>Mastodon</h2>
<mat-dialog-content class="login-window">
  <form [formGroup]="websiteForm" (ngSubmit)="changeURL()">
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Website (e.g. mastodon)" formControlName="url" required>
      <span matPrefix>https://</span>
    </mat-form-field>
    <span class="d-inline-block period"> . </span>
    <mat-form-field color="accent">
      <input type="text" matInput placeholder="Domain (e.g. com, org, net)" formControlName="extension" required>
    </mat-form-field>
    <button mat-raised-button color="accent">{{ 'Submit' }}</button>
  </form>
  <div>{{ url }} <span *ngIf="loading">Loading...</span></div>
  <webview #webview class="login-webview-window"></webview>
</mat-dialog-content>
<br>
<div>
  <mat-form-field color="accent">
    <input type="text" matInput #codeInput placeholder="{{'Code' | translate}}" maxLength="150" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submitCode(codeInput.value)" [disabled]="codeInput.value.length === 0">{{'Authorize' | translate}}</button>
  <div *ngIf="failed" class="mat-error">{{'Authentication Failed' | translate}}</div>
</div>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="primary" (click)="unauthorize()">{{'Unauthorize' | translate}}</button>
  <button mat-raised-button color="warn" mat-dialog-close>{{'Close' | translate}}</button>
</mat-dialog-actions>
