@import '../../../../material-theme';

.submission-posting-info-container {
  font-size: 12px;
}

.status {
  font-size: 12px;
}

.img {
  height: 50px;
  width: 50px;
  min-width: 50px;
  position: relative;

  img {
    height: 50px;
    width: 50px;
  }

  mat-icon {
    font-size: 50px;
  }
}

.title-bar {
  border-bottom: 1px solid mat-color($accent) !important;
  position: relative;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.title-bar .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  width: 115px;
}

.posting-website {
  font-size: 12px;
}

mat-progress-spinner {
  height: 30px !important;
  width: 30px !important;
}
