<!-- Not 100% sure why but styling these to be size flexible has been a pain. Might be due to viewport. Assuming for now this will be 200px wide - .25em of padding -->
<div class="submission-posting-info-container d-flex" [matTooltip]="submission.formData.websites.join(', ')" matTooltipPosition="right">
  <div class="img mr-1">
    <img *ngIf="submission.submissionType === 'SUBMISSION'" [src]="submission.id | thumbnail: 'PRIMARY' | async | objectURL: '50' | safe" [alt]="submission.fileInfo.name" [title]="submission.fileInfo.name">
    <mat-icon *ngIf="submission.submissionType === 'JOURNAL'">comment</mat-icon>
  </div>
  <div class="w-100">
    <div class="w-100 title-bar">
      <div class="text-truncate title" [title]="submission.title || 'Untitled'">{{ submission.title || 'Untitled' }}</div>
      <div class="close-btn" (click)="cancel()">
        <mat-icon class="warn-text">close</mat-icon>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="!submission.isScheduled">
      <div *ngIf="postingWebsite" class="posting-website">{{ postingWebsite | websiteDisplayname }}</div>
      <div class="w-100 status text-info" *ngIf="wait">
        <span *ngIf="wait"><i class="far fa-clock"></i> {{ wait | date:'mediumTime' }}</span>
      </div>
      <mat-progress-bar class="w-100" *ngIf="postingWebsite" color="accent" mode="determinate" [value]="getProgress()"></mat-progress-bar>
    </div>

    <div class="row no-gutters" *ngIf="submission.isScheduled">
      <div class="w-100 status text-info">
        <span><i class="far fa-clock"></i> {{ submission.schedule | date:'short' }}</span>
      </div>
    </div>
  </div>
</div>
