<h2 mat-dialog-title>PostyBirb 2.0!</h2>
<mat-dialog-content class="window">
  <p>
    Over the past few months PostyBirb has been in the process of being remade. This is why there have not been many updates.
    <br>
    <br>
    This is an announcement to let you know that it will be openly available for download within the next couple weeks.
    <br>
    <br>
    You can find more about it here <a href="#" (click)="openInfo()">PostyBirb 2.0</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="primary" mat-dialog-close>OK</button>
</mat-dialog-actions>
