<div class="submission-container" droppable [dragHintClass]="'drag-hint'" [dropScope]="['scheduled','unscheduled']" [dragOverClass]="'drag-highlight'" (onDrop)="dropForEdit($event)">
  <div class="row no-gutters">
    <add-submission-file class="col-md-3 col-lg-3 col-xl-2" (added)="addFiles($event)"></add-submission-file>
    <submission-card class="col-md-3 col-lg-3 col-xl-2" *ngFor="let data of editing$ | async" [submission]="data" (onSelect)="submissionSelected($event)" (onDelete)="submissionRemoved($event)"></submission-card>
  </div>
</div>
<div class="submission-file-select">
  <form>
    <ng-content></ng-content>
    <button class="remove-btn" color="warn" mat-button [matMenuTriggerFor]="remove" [class.hidden]="submissions.length === 0">
      {{'Remove' | translate}}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #remove="matMenu">
      <button mat-menu-item (click)="removeSelected()" [disabled]="selectedSubmissions.length === 0">
        <span>{{'Selected' | translate}}</span>
      </button>
      <button mat-menu-item (click)="removeUnselected()" [disabled]="submissions.length === 0">
        <span>{{'Unselected' | translate}}</span>
      </button>
      <button mat-menu-item (click)="removeAll()">
        <span>{{'All' | translate}}</span>
      </button>
    </mat-menu>
  </form>
</div>