<div>
  <div class="row">
    <div class="col-6">
      <mat-card>
        <mat-card-title>{{ 'Queued' | translate }}</mat-card-title>
        <mat-card-actions>
          <button mat-button color="accent">{{ 'View' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card>
        <mat-card-title>{{ 'Scheduled' | translate }}</mat-card-title>
        <mat-card-actions>
          <button mat-button color="accent">{{ 'View' | translate }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
