<form [formGroup]="formGroup">
  <div class="section">
    <mat-form-field color="accent">
      <input #titleInput matInput [placeholder]="'Title' | translate" formControlName="title" maxlength="50">
      <mat-hint align="end">{{ (titleInput.value || '').length }} / {{ 50 }}</mat-hint>
    </mat-form-field>
  </div>
  
  <div class="section">
    <mat-form-field color="accent">
      <mat-select formControlName="rating" [placeholder]="'Rating' | translate">
        <mat-option [value]="null">{{ 'Default' | translate }}</mat-option>
        <mat-option value="General">{{ 'General' | translate }}</mat-option>
        <mat-option value="Mature">{{ 'Mature' | translate }}</mat-option>
        <mat-option value="Adult">{{ 'Adult' | translate }}</mat-option>
        <mat-option value="Extreme">{{ 'Extreme' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="section">
    <h6>{{ 'Description' | translate }}</h6>
    <description-input formControlName="description" [defaultDescriptionProvider]="parentForm.defaultDescription.changes" class="w-100"></description-input>
  </div>

  <div class="section">
    <h6>{{ 'Tags' | translate }}</h6>
    <tag-input formControlName="tags" class="w-100" [defaultTagProvider]="parentForm.defaultTags.changes"></tag-input>
  </div>

  <div formGroupName="options" class="row no-gutters section">
    <div class="col-md col-lg col-xl">
      <mat-checkbox formControlName="critique">{{'Critique' | translate}}</mat-checkbox>
      <mat-checkbox formControlName="disableComments">{{'Disable Comments' | translate}}</mat-checkbox>
      <mat-checkbox formControlName="feature">{{'Feature' | translate}}</mat-checkbox>
      <mat-checkbox formControlName="freeDownload">{{'No Free Download' | translate}}</mat-checkbox>
    </div>

    <div class="col-md-8 col-lg-8 col-xl-8">
      <div class="row no-gutters">
        <folder-select formControlName="folders" class="w-100" [folders]="folders" [multiple]="true"></folder-select>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <mat-form-field color="accent" class="w-100">
            <mat-select formControlName="matureClassification" [placeholder]="'Mature Category' | translate" multiple>
              <mat-option value="nudity">Nudity</mat-option>
              <mat-option value="sexual">Sexual Themes</mat-option>
              <mat-option value="gore">Gore/Violence</mat-option>
              <mat-option value="language">Strong Language</mat-option>
              <mat-option value="ideology">Ideology</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <mat-form-field color="accent" class="w-100">
            <mat-select formControlName="matureLevel" [placeholder]="'Mature Content' | translate">
              <mat-option value="">None</mat-option>
              <mat-option value="moderate">Moderate</mat-option>
              <mat-option value="strict">Strict</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
          <mat-form-field color="accent" class="w-100">
            <mat-select formControlName="displayResolution" [placeholder]="'Display Resolution' | translate">
              <mat-option value="0">{{ 'Original' | translate }}</mat-option>
              <mat-option value="1">400px</mat-option>
              <mat-option value="2">600px</mat-option>
              <mat-option value="3">800px</mat-option>
              <mat-option value="4">900px</mat-option>
              <mat-option value="5">1024px</mat-option>
              <mat-option value="6">1280px</mat-option>
              <mat-option value="7">1600px</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
