<loading-overlay [loading]="loading">
  <div class="editing-form" *ngIf="submission">
    <div class="basic-info">
      <form [formGroup]="basicInfoForm" class="basic-form">
        <div class="w-50 d-inline-block">
          <mat-form-field color="accent">
            <mat-select formControlName="rating" [placeholder]="'Rating' | translate">
              <mat-option [value]="null">{{ 'None' | translate }}</mat-option>
              <mat-option value="General">{{ 'General' | translate }}</mat-option>
              <mat-option value="Mature">{{ 'Mature' | translate }}</mat-option>
              <mat-option value="Adult">{{ 'Adult' | translate }}</mat-option>
              <mat-option value="Extreme">{{ 'Extreme' | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="mt-2">
      <form [formGroup]="formDataForm">
        <div class="w-100 d-flex">
          <mat-form-field color="accent" style="flex: 2" class="mr-1">
            <mat-select formControlName="loginProfile" [placeholder]="'Login Profile' | translate" required>
              <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field color="accent" style="flex: 10">
            <mat-select formControlName="websites" [placeholder]="'Websites' | translate" required multiple>
              <mat-option class="warn-text" [value]="registry.value.name" *ngFor="let registry of availableWebsites | keyvalue" [class.text-success]="isLoggedIn(registry.value.name)">{{ registry.value.websiteConfig.displayedName }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="toggleLogin()" color="accent">{{ 'Login' | translate }}</button>
          <button mat-button color="accent" (click)="importTemplateField(['websites', 'loginProfile'])" [matTooltip]="'Import from existing Template' | translate"><i class="fas fa-share-alt-square template-import accent-text"></i></button>
        </div>

        <!-- Defaults Section -->
        <div formGroupName="defaults">
          <h5>{{ 'Default Description' | translate }}
            <mat-icon class="help-icon" color="accent" [matTooltip]="'Default Description Tooltip' | translate">info</mat-icon>
            <i (click)="importTemplateField(['defaults.description'])" [matTooltip]="'Import from existing Template' | translate" class="fas fa-share-alt-square template-import accent-text"></i>
          </h5>
          <description-input #defaultDescription formControlName="description" class="w-100" [canOverwrite]="false"></description-input>

          <div class="py-2"></div>

          <h5>{{ 'Default Tags' | translate }}
            <mat-icon class="help-icon" color="accent" [matTooltip]="'Default Tag Tooltip' | translate">info</mat-icon>
            <i (click)="importTemplateField(['defaults.tags'])" [matTooltip]="'Import from existing Template' | translate" class="fas fa-share-alt-square template-import accent-text"></i>
          </h5>
          <tag-input #defaultTags formControlName="tags" class="w-100" [canExtend]="false"></tag-input>
        </div>

        <!-- Selected Websites Section -->
        <h5 *ngIf="getWebsites().length">{{ 'Website Options' | translate }}
          <mat-icon class="help-icon" color="accent" [matTooltip]="'Website Options Tooltip' | translate">info</mat-icon>
        </h5>
        <div class="alert alert-danger" *ngIf="!formDataForm.value.loginProfile">
          {{ 'Must select a login profile' | translate }}
        </div>
        <mat-accordion *ngIf="!triggerWebsiteReload" class="mt-3">
          <mat-expansion-panel #panel *ngFor="let website of getWebsites()" [disabled]="!isLoggedIn(website)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="text-warning">{{ website | websiteDisplayname }}</span>
                <i (click)="importTemplateField([website], $event)" [matTooltip]="'Import from existing Template' | translate" class="fas fa-share-alt-square template-import accent-text"></i>
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="!panel.disabled" class="text-success">{{ 'Logged In' | translate }}</span>
                <span *ngIf="panel.disabled" class="warn-text">{{ 'Not Logged In' | translate }}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="!panel.disabled" website-submission-form-display [website]="website"></div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>

    <div class="form-actions d-flex">
      <div style="flex: 10">
        <button mat-button color="warn" (click)="clear()">{{ 'Clear' | translate }}</button>
        <button mat-button color="accent" (click)="saveTemplate()">{{ 'Save To Template' | translate }}</button>
      </div>
      <div>
        <button mat-button color="accent" (click)="saveBulkUpdates()">{{ 'Save' | translate }}</button>
      </div>
    </div>

    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="formMenu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #formMenu="matMenu">
        <button mat-menu-item (click)="openCopySubmission()">{{ 'Copy Submission' | translate }}</button>
        <button mat-menu-item (click)="loadTemplate()">{{ 'Load Template' | translate }}</button>
      </mat-menu>
    </div>
  </div>
</loading-overlay>
