.postybirb__page-header__tabs {
  margin-bottom: -2px;
}

.postybirb__page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--mantine-color-body);
}

.postybirb__page-header > *:first-child {
  padding: 0 6px;
}

.postybirb__page-header__tabs__icon svg {
  height: 1.1rem;
  vertical-align: text-bottom;
}
