.postybirb__submission-table-container .postybirb__submission-card-table {
  /* box-shadow: inset 16px 0px 16px -16px rgba(0, 0, 0, 0.45),
    inset -16px 0px 16px -16px rgba(0, 0, 0, 0.45);
  padding: 1em;
  background-color: #1c1d22; */
}

.postybirb__submission-card-table .postybirb__submission-card-item {
  width: 100%;
}

.postybirb__submission-card-table .postybirb__submission-card .euiImage {
  height: 120px;
}

.postybirb__submission-card-table
  .postybirb__submission-card
  .postybirb__submission-card-selection-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.postybirb__submission-card-table
  .postybirb__submission-card
  .postybirb__submission-card-actions {
  /* display: flex; */
  align-items: center;
}

.postybirb__submission-card-table
  .postybirb__submission-card
  .postybirb__submission-card-editable-fields {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
}
