.theme-picker-button {
  transition:
    transform 0.2s ease-in-out,
    background-color 0.2s ease;
}

.theme-picker-button:hover {
  transform: scale(1.05);
}

.theme-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease;
}

/* Sun icon rotation */
:root[data-mantine-color-scheme='light']
  .theme-picker-button:hover
  .theme-icon-container {
  animation: spin-rays 1s ease;
}

/* Moon icon float */
:root[data-mantine-color-scheme='dark']
  .theme-picker-button:hover
  .theme-icon-container {
  animation: float 1s ease;
}

@keyframes spin-rays {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}
