<div class="website-form">
  <div name="options" *ngIf="isActive">
    <form [formGroup]="optionsForm">
      <div class="row no-gutters">
        <div class="col-md col-lg col-xl">
          <mat-checkbox formControlName="critique">{{'Critique' | translate}}</mat-checkbox>
          <mat-checkbox formControlName="friendsOnly">{{'Friends Only' | translate}}</mat-checkbox>
          <mat-checkbox formControlName="notify">{{'Notify' | translate}}</mat-checkbox>
        </div>

        <div class="col-md-9 col-lg-9 col-xl-9">
          <weasyl-folders formControlName="folder"></weasyl-folders>
        </div>
      </div>
    </form>
  </div>
</div>
