<div class="website-form">
  <div name="options" *ngIf="isActive">
    <form [formGroup]="optionsForm">
      <div class="row no-gutters">
        <div class="col-md col-lg col-xl">
          <mat-radio-group formControlName="viewOptions">
            <mat-radio-button class="mr-1" value="0">{{'Public' | translate}}</mat-radio-button>
            <mat-radio-button class="mr-1" value="1">{{'Group Only' | translate}}</mat-radio-button>
            <mat-radio-button class="mr-1" value="2">{{'Friends Only' | translate}}</mat-radio-button>
            <mat-radio-button class="mr-1" value="3">{{'Hidden' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-9 col-lg-9 col-xl-9">
          <sofurry-folders formControlName="folder"></sofurry-folders>
        </div>
      </div>
    </form>
  </div>
</div>
