<h2 mat-dialog-title>Furry Network</h2>
<mat-dialog-content class="login-window">
  <form [formGroup]="loginForm">
    <div *ngIf="!isLoggedIn">
      <h4>{{'Your password is not stored.' | translate}}</h4>
      <div *ngIf="invalidLoginCredentials" class="mat-error">
        <h3>{{'Invalid Login' | translate}}</h3>
      </div>
      <mat-form-field class="w-100" color="accent">
        <input type="email" matInput placeholder="{{'Email' | translate}}" formControlName="username" required>
      </mat-form-field>
      <mat-form-field class="w-100" color="accent">
        <input type="password" matInput placeholder="{{'Password' | translate}}" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submitLogin()">{{'Login' | translate}}</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button mat-raised-button color="warn" (click)="submitLogout()">{{'Logout' | translate}}</button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="float-right">
  <button mat-raised-button color="warn" mat-dialog-close>{{'Close' | translate}}</button>
</mat-dialog-actions>