<div [class.invalid-border]="!isValid" [class.valid-border]="isValid" class="picker-item" [class.selected]="isSelected" (click)="this.toggle()" [title]="title" *ngIf="src">
  <img [src]="src | safe" [alt]="title" *ngIf="type.includes('image') || !type.includes('video')">
  <video [src]="src | safe" [alt]="title" [type]="type" *ngIf="type.includes('video')"></video>
  <div class="invalid-icons">
    <mat-icon color="warn" *ngIf="restrictions.unsupportedByRating" [matTooltip]="translateText('Unsupported rating', restrictions.unsupportedByRating) | async" matTooltipPosition="above">explicit</mat-icon>
    <mat-icon color="warn" *ngIf="restrictions.unsupportedByType" [matTooltip]="translateText('Unsupported submission type', restrictions.unsupportedByType) | async" matTooltipPosition="above">format_clear</mat-icon>
    <mat-icon color="warn" *ngIf="restrictions.unsupportedByFileExtension" [matTooltip]="translateText('Unsupported file type', restrictions.unsupportedByFileExtension) | async" matTooltipPosition="above">attach_file</mat-icon>
    <mat-icon color="warn" *ngIf="restrictions.unsupportedByFileSize > 0" [matTooltip]="translateText('Unsupported file size', '> ' + restrictions.unsupportedByFileSize + 'MB') | async" matTooltipPosition="above">photo_size_select_large</mat-icon>
  </div>
</div>