button {
  height: 3vh;
  line-height: 0;
  color: inherit;
  background-color: inherit;
  vertical-align: top;
  border-radius: 0;
  border: #fff;
  font-weight: bold;
}

.mat-icon {
  vertical-align: middle;
  font-size: inherit;
}

.no-outline {
  box-shadow: none;
}
