.login-card-title {
  /* margin: -16px -16px 0px -16px; */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: none;
}

.postybirb-login-card + .postybirb-login-card {
  margin-top: 1em;
}
