<table class="table table-dark table-hover mb-0">
  <tbody cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="allowReorder">
    <ng-template ngFor let-row [ngForOf]="rows">
      <submission-row class="movable" [archive]="row" cdkDragLockAxis="y" cdkDrag>
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
      </submission-row>
    </ng-template>
  </tbody>
  <tbody *ngIf="!allowReorder">
    <ng-template ngFor let-row [ngForOf]="rows">
      <submission-row [archive]="row"></submission-row>
    </ng-template>
  </tbody>
</table>

<!--
This is probably the weirdest html hack in here.
This is all because of Electronjs having a weird rendering of sticky for this field.
My solution was to fake it using absolute and essentially a copy of the size to emulate it being sticky.
 -->
<div class="invisible" *ngIf="rows && rows.length > 0">
  <div class="row no-gutters">
    <button *ngIf="allowPostAll" class="col-md col-lg col-xl col-sm" mat-raised-button color="accent" (click)="doPostAll()">{{ 'Post All' | translate }}</button>
    <button class="col-md col-lg col-xl col-sm" mat-raised-button color="warn" (click)="doClearAll()">{{ clearAllLabel | translate }}</button>
  </div>
</div>
<div class="submission-table-footer" *ngIf="rows && rows.length > 0">
  <div class="row no-gutters">
    <button *ngIf="allowPostAll" class="col-md col-lg col-xl col-sm" mat-raised-button color="accent" (click)="doPostAll()">{{ 'Post All' | translate }}</button>
    <button class="col-md col-lg col-xl col-sm" mat-raised-button color="warn" (click)="doClearAll()">{{ clearAllLabel | translate }}</button>
  </div>
</div>
