<div *ngIf="canExtend">
  <mat-checkbox [formControl]="extendControl">{{ 'Combine With Default' | translate }}</mat-checkbox>
</div>
<div class="d-flex">
  <mat-form-field color="accent" style="flex: 10" [class.warn-text]="!isPassing()" (click)="tagInput.focus()">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of this.value.tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <input #tagInput class="w-100" [placeholder]="'Separate with commas' | translate" (keypress)="captureIllegalKeys($event)" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addTag($event)" [required]="config.minTags > 0">

    <span matPrefix><i class="fas fa-tags"></i></span>

    <mat-hint *ngIf="config.minTags" [class.text-danger]="!isPassing()">
      {{ 'Requires' | translate }} {{ config.minTags }}+
    </mat-hint>

    <mat-hint align="end">
      <span *ngIf="!config.maxStringLength">
        {{ tagCount }} / {{ config.maxTags }}
      </span>

      <span *ngIf="config.maxStringLength" [class.warn-text]=" getTags().join(' ').length > config.maxStringLength">
        {{ getTags().join(' ').length }} / {{ config.maxStringLength }}
      </span>
    </mat-hint>
  </mat-form-field>

  <div class="tag-actions">
    <i class="fas fa-trash warn-text" style="vertical-align: top" (click)="clearAllTags()"></i>
    <i class="fas fa-copy ml-2" style="vertical-align: top" (click)="copyToClipboard()"></i>
  </div>
</div>
<div *ngIf="canManageGroups">
  <button mat-button type="button" (click)="addOrManageTagGroups()">{{ 'Manage Tag Groups' | translate }}</button>
  <span *ngIf="tagGroupTemplates && tagGroupTemplates.length">
    <button mat-button [matMenuTriggerFor]="menu">{{ 'Apply Group' | translate }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let template of tagGroupTemplates" (click)="applyGroup(template)">{{ template.title }}</button>
    </mat-menu>
  </span>
</div>
