.src-container {
  max-width: 250px;
  max-height: 150px;
  overflow: auto;
}

.log {
  position: relative;
}

.log + .log {
  border-top: 1px solid grey;
}

.log .source-urls {
  max-height: 200px;
  overflow: auto;
  font-size: 0.7rem;
  word-wrap: break-word;
}

.log .website-status > div {
  max-height: 200px;
  overflow: auto;
}


.log .website-status > div {
  flex: 5
}
