<mat-card>
  <mat-card-title>{{'PostyBirb Settings' | translate}}</mat-card-title>
  <mat-card-content>
    <button mat-button mat-raised-button color="warn" (click)="resetScheduled()">{{'Clear Scheduled' | translate}}</button>
    <button mat-button mat-raised-button color="warn" (click)="resetUnscheduled()">{{'Clear Unscheduled' | translate}}</button>
    <button mat-button mat-raised-button color="warn" (click)="resetTemplates()">{{'Clear Templates' | translate}}</button>
    <br>
    <form-template-select #templateSelect (onSelect)="templateSelected($event)"></form-template-select>
    <button mat-button mat-raised-button color="warn" (click)="deleteTemplate()" [disabled]="!enableTemplateDelete">{{'Delete Template' | translate}}</button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="warn" (click)="resetAllSettings()">{{'Reset All' | translate}}</button>
  </mat-card-actions>
</mat-card>