.sticky-section {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #222;
}

.sticky-section button {
  padding: 0;
  width: 100%;
}

.bottom-sticky {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: #222;
}

.bottom-sticky button {
  padding: 0;
  width: 100%;
}

.primary-container {
  overflow: hidden;
  height: 100%;
}

.section {
  overflow-x: hidden;
  height: 100%;
}

.overlay {
  overflow-y: overlay;
  z-index: 10;
}

.sidebar-section {
  overflow-y: hidden !important;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  max-width: 200px;
}

.search {
  padding: 0 5px;
  margin: -.2em 0 -1em 0;
}

.copy {
  white-space: normal !important;
  line-height: 1em;
}

.add-btn {
  line-height: 1em;
  padding: .5em 0 !important;
  white-space: normal;
}

.onedrive {
  line-height: 1rem;
  font-size: 0.73rem;
  text-align: center;
}

mat-button-toggle-group {
  border-radius: 0 !important;
}
