<div class="w-100 d-flex">
  <mat-form-field color="accent">
    <mat-select [placeholder]="'Open Login Profile' | translate" (selectionChange)="profileChosen($event)">
      <mat-option *ngFor="let profile of appProfiles" [value]="profile">
        {{ profile | uppercase }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-icon-button color="primary" (click)="openAddProfileDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="openDeleteProfileDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
