.postybirb-login-modal-overlay {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  visibility: hidden;
}

/* This is more of a hack to be able to modify the mask of the modal */
.postybirb-login-modal-overlay + .euiOverlayMask {
  padding: 0 !important;
  margin: 0 !important;
}

.postybirb-login-modal .euiModal__flex {
  height: 100vh;
  max-height: 100vh;
}

.postybirb-login-modal {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.postybirb-login-modal-overlay + div + .euiOverlayMask {
  padding: 0 !important;
  margin: 0 !important;
}
