<div mat-dialog-title>
  <div class="w-100 d-flex">
    <h4 style="flex: 10">{{ data.title | translate }}</h4>
    <div class="m-auto">
      <button class="close-button warn-text" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <mat-form-field color="accent" class="w-100">
    <mat-select [placeholder]="'Select'" [formControl]="selectControl" [multiple]="data.multiple || false">
      <mat-option *ngFor="let opt of options" [value]="opt">
        <span *ngIf="opt.fileInfo">
          <img [src]="opt.id | thumbnail: 'PRIMARY' | async | objectURL: '40' | safe" [alt]="opt.fileInfo.name">
          {{ (opt.title || 'Untitled') + ' - ' + opt.fileInfo.name }}
        </span>
        <span *ngIf="!opt.fileInfo">{{ opt.title || 'Untitled' }}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-flat-button color="accent" (click)="selectAll()">{{ 'Select All' | translate }}</button>
  </div>

  <div *ngIf="data.allowReorder && data.multiple">
    <mat-checkbox [formControl]="reorderControl">{{ 'Reorder' | translate }}</mat-checkbox>

    <div *ngIf="reorderControl.value && selected.length" cdkDropList (cdkDropListDropped)="drop($event)" class="mr-3">
      <div *ngFor="let record of selected" class="bordered p-3 mt-1" style="cursor: -webkit-grab" cdkDrag cdkDragLockAxis="y">
        <span *ngIf="record.fileInfo">
          <img [src]="record.id | thumbnail: 'PRIMARY' | async | objectURL: '40' | safe" [alt]="record.fileInfo.name">
          {{ (record.title || 'Untitled') + ' - ' + record.fileInfo.name }}
        </span>
        <span *ngIf="!record.fileInfo">{{ record.title || 'Untitled' }}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="confirm-actions">
  <button mat-flat-button mat-dialog-close color="warn" class="no-button">{{ 'Cancel' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="getReturn()" color="primary" class="yes-button" [disabled]="selectControl.invalid">{{ 'Yes' | translate }}</button>
</div>
