mat-icon {
  cursor: pointer;
}

.close-button {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  border-radius: 0 !important;
}

.no-button,
.yes-button {
  width: 50%;
}

img {
  width: 40px;
  height: 40px;
}
