.dropzone-primary {
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
}

:root[data-mantine-color-scheme='dark '] .dropzone-primary {
  background-color: var(--mantine-color-dark-6);
}

:root[data-mantine-color-scheme='light'] .dropzone-primary {
  background-color: var(--mantine-color-gray-1);
}

.dropzone-secondary {
  padding: var(--mantine-spacing-sm);
  margin-bottom: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  border-style: dashed;
  transition: all 0.2s ease;
}

:root[data-mantine-color-scheme='dark'] .dropzone-secondary {
  border-color: var(--mantine-color-dark-4);
  background: rgba(255, 255, 255, 0.03);
}

:root[data-mantine-color-scheme='light'] .dropzone-secondary {
  border-color: var(--mantine-color-gray-4);
  background: rgba(0, 0, 0, 0.02);
}

.dropzone-secondary:hover {
  border-color: var(--mantine-color-indigo-5);
}
