body {
  overflow: hidden;
}

.euiPage {
  width: 100vw;
  height: 100vh;
}

.postybirb__page-body {
  height: 100%;
  overflow: auto;
}

.postybirb__page-body > div > div {
  padding-top: 0 !important;
}

.postybirb__page-body .euiPageHeader {
  position: sticky;
  z-index: 100;
  top: 0;
  padding-top: 24px;
}

.postybirb__page-section > div {
  padding-top: 0px;
}
