<ng-container *ngIf="isIdle()">
  <td name="file">
    <img [src]="src | safe" [alt]="file.name" *ngIf="file.type.includes('image') || !file.type.includes('video')">
    <video [src]="src | safe" [type]="file.type" *ngIf="file.type.includes('video')"></video>
  </td>
  <td name="title" class="title-td text-truncate text-center" [title]="archive.meta.title">
    {{ archive.meta.title }}
  </td>
  <td name="status" class="status" [class.text-danger]="archive.meta.submissionStatus === submissionStatus.FAILED" [class.text-warning]="archive.meta.submissionStatus === submissionStatus.INTERRUPTED">{{ archive.meta.submissionStatus | translate }}</td>
  <td name="scheduled">
    <span *ngIf="!schedule"></span>
    <span *ngIf="schedule">
        {{ schedule | date:'medium' }}
    </span>
  </td>
  <td name="actions">
    <button mat-icon-button (click)="postItem()" matTooltip="{{'Post' | translate}}" matTooltipPosition="above">
        <mat-icon>send</mat-icon>
      </button>
    <button mat-icon-button (click)="editItem()" matTooltip="{{'Edit' | translate}}" matTooltipPosition="above">
        <mat-icon>mode_edit</mat-icon>
      </button>
    <button mat-icon-button (click)="scheduleItem()" matTooltip="{{'Schedule' | translate}}" matTooltipPosition="above">
        <mat-icon>alarm</mat-icon>
      </button>
    <button mat-icon-button (click)="openSummary()" matTooltip="{{'Summary' | translate}}" matTooltipPosition="above">
        <mat-icon>search</mat-icon>
      </button>
    <button mat-icon-button (click)="copyItem()" matTooltip="{{'Copy' | translate}}" matTooltipPosition="above">
        <mat-icon>content_copy</mat-icon>
      </button>
    <button mat-icon-button color="warn" (click)="deleteItem()" matTooltip="{{'Delete' | translate}}" matTooltipPosition="above">
        <mat-icon>delete</mat-icon>
      </button>
  </td>
  <td *ngIf="reorder" name="reorder" class="reorder">
    <button *ngIf="archive.meta.order > 0" mat-icon-button color="primary" (click)="moveUp()"><mat-icon>keyboard_arrow_up</mat-icon></button>
    <button mat-icon-button color="primary" (click)="moveDown()"><mat-icon>keyboard_arrow_down</mat-icon></button>
  </td>
</ng-container>

<ng-container *ngIf="!isIdle()">
  <td name="file">
    <img [src]="src | safe" [alt]="file.name" *ngIf="file.type.includes('image') || !file.type.includes('video')">
    <video [src]="src | safe" [type]="file.type" *ngIf="file.type.includes('video')"></video>
  </td>
  <td name="title" class="title-td text-center" [title]="archive.meta.title">{{ archive.meta.title }}</td>
  <td name="status" class="status">
    {{ archive.meta.submissionStatus | translate }}
    <div *ngIf="isPosting()">
      <img *ngIf="logo" [src]="logo" [alt]="currentlyPostingTo" height="30px" width="50px">
      <div *ngIf="waitingUntil"><em>{{ 'Paused until' | translate }} {{ waitingUntil | date:'shortTime' }}</em></div>
    </div>
  </td>
  <td colspan="2" name="posting_status">
    <div class="posting-status">
      <mat-progress-bar [mode]="getMode()" [value]="remainingAmount"></mat-progress-bar>
      <button mat-icon-button color="warn" (click)="cancelPosting()" matTooltip="{{'Cancel' | translate}}" matTooltipPosition="above">
              <mat-icon>cancel</mat-icon>
            </button>
    </div>
  </td>
</ng-container>