<form [formGroup]="formGroup">
  <div class="section">
    <h6>{{ 'Tags' | translate }}</h6>
    <tag-input formControlName="tags" class="w-100" [config]="tagConfig" [defaultTagProvider]="parentForm.defaultTags.changes"></tag-input>
  </div>
  <div formGroupName="options" class="row no-gutters section">
    <div class="row no-gutters">
      <div class="col-md col-lg col-xl">
        <div class="row no-gutters">
          <div class="col-md col-lg col-xl">
            <folder-select formControlName="folders" [folders]="folders" [multiple]="true"></folder-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
