.editing-form {
  padding: .5em;
}

.form-actions {
  position: sticky;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  padding: 1em 0;
}

.basic-form mat-form-field {
  display: block;
  margin: -.45em 0;
}
