.editing-form {
  padding: .5em;
  padding-bottom: 0;
  position: relative;
}

.form-actions {
  position: sticky;
  bottom: 0;
  background-color: #242424;
  margin-left: -23px;
  margin-right: -23px;
  margin-top: 1em;
}

.basic-form mat-form-field {
  display: block;
  margin: -.45em 0;
}

.help-icon {
  font-size: 1rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.thumbnail-block {
  vertical-align: bottom;
  font-size: 12px;
  padding-bottom: 12px;
}

.thumbnail {
  position: relative;
  height: 100px;
  width: 100px;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.thumbnail div {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #222;
  width: 100%;
  opacity: 0.75;
}

.thumbnail i {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 20px;
  cursor: pointer;
}

mat-panel-title {
  width: 150px;
  flex-grow: unset;
}

.alert {
  width: 100%;
  border-radius: 0;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.additional-img-container {
  cursor: grab;
}

.template-import {
  font-size: 1rem;
  cursor: pointer;
  padding: .12em;
}
