.window {
  height: 100%;
  width: 100%;
}

.websites-to-post {
  margin-top: 15px;
}

.submission-types {
  font-weight: bold;
}

.description {
  word-wrap: break-word;
  width: 100%;
}

.progress-bar {
  margin-top: 20px;
  width: 100%;
}

submit-status {
  margin: 4px;
}
