<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="window">
  <div style="max-height: 600px;">
    <div class="row no-gutters">
      <div class="col-md-3 col-lg-3 col-xl-2">
        <file-viewer [file]="file" height="100" width="100"></file-viewer>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="row no-gutters">
          <p class="submission-types col-md-12 col-lg-12 col-xl-12">
            {{submissionType | translate}} - {{submissionRating | translate}}
          </p>
          <p class="description col-md-12 col-lg-12 col-xl-12">{{description}}</p>
          <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-chip-list [selectable]="false">
              <mat-chip [selected]="false" color="accent" *ngFor="let tag of tags">{{tag}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="selectedWebsites && selectedWebsites.length > 0">
      <ng-template ngFor let-website [ngForOf]="selectedWebsites">
        <submit-status class="col-md-4 col-lg-4 col-xl-3" (complete)="submitCompleted($event)" [data]="submissionData" [website]="website"></submit-status>
      </ng-template>
    </div>
  </div>
  <div class="progress-bar">
    <div>
      <mat-progress-bar color="primary" [value]="percentDone"></mat-progress-bar>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="right">
  <button mat-raised-button color="primary" (click)="stopPosting()" matTooltip="{{'Stop Tooltip' | translate}}">{{'Stop' | translate}}</button>
  <button mat-raised-button color="warn" (click)="emergencyStop()">{{'Emergency Stop' | translate}}</button>
  <span style="padding-left: 3px;" *ngIf="stop">{{'Will Stop' | translate}}</span>
  <mat-checkbox style="margin-left: 20px;" [(checked)]="stopOnFailure">{{'Stop On Failure' | translate}}</mat-checkbox>
</mat-dialog-actions>