.multi-scheduler-grid-container {
  display: grid;
  grid-template-rows: 1fr auto;
}

.multi-scheduler-grid-container .main-content {
  overflow: auto; /* Make the main content scrollable */
  padding: 10px;
  height: calc(100% - 44px);
}

.multi-scheduler-grid-container .footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
}
