<form [formGroup]="submissionForm" class="animated zoomIn" [class.selected]="selected" [matTooltip]="file.name" matTooltipPosition="above" [highlightLinked]="data.getId()">
  <div class="image">
    <img [src]="src | safe" [alt]="file.name" *ngIf="file.type.includes('image') || !file.type.includes('video')">
    <video [src]="src | safe" [type]="file.type" *ngIf="file.type.includes('video')"></video>
    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSelected()" [disabled]="submissionForm.invalid">
          <mat-icon>mode_edit</mat-icon>
          <span>{{'Edit' | translate}}</span>
        </button>
        <button mat-menu-item (click)="changeFileInput.click()">
          <mat-icon>attach_file</mat-icon>
          <span>{{'Change File' | translate}}</span>
          <input #changeFileInput type="file" class="d-none" single (change)="changeFile($event)">
        </button>
        <button mat-menu-item (click)="showSummary()">
          <mat-icon>search</mat-icon>
          <span>{{'Summary' | translate}}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="templatesMenu" [disabled]="templates.length === 0">
            <mat-icon>input</mat-icon>
            <span>{{'Apply Template' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onDeleted($event)">
          <mat-icon>delete</mat-icon>
          <span>{{'Remove' | translate}}</span>
        </button>
      </mat-menu>

      <mat-menu #templatesMenu="matMenu">
        <button mat-menu-item *ngFor="let template of templates" (click)="applyTemplate(template)">{{template.name}}</button>
      </mat-menu>
    </div>
    <div class="info">
      <div class="w-100 select-checkbox">
        <mat-checkbox [checked]="selected" (change)="onSelected()" (indeterminateChange)="indeterminateChange($event)" [disabled]="submissionForm.invalid" [indeterminate]="submissionForm.invalid && selected" [class.mat-error]="submissionForm.invalid"></mat-checkbox>
      </div>
      <mat-form-field color="accent" floatLabel="never" class="title-field">
        <input matInput #title placeholder="{{'Title' | translate}}" formControlName="title" maxLength="50">
        <mat-hint align="end" [class.mat-error]="title.value.trim().length < 3">
          {{title.value.trim().length}} / {{title.maxLength}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field color="accent" floatLabel="never" class="type-field clearfix">
        <mat-select [placeholder]="'Submission Type' | translate" formControlName="submissionType" required>
          <mat-option value="Artwork">{{'Artwork' | translate}}</mat-option>
          <mat-option value="Animation">{{'Animation' | translate}}</mat-option>
          <mat-option value="Music">{{'Music' | translate}}</mat-option>
          <mat-option value="Story">{{'Story' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field color="accent" floatLabel="never" class="ratings-field">
        <mat-select [placeholder]="'Rating' | translate" formControlName="submissionRating" required>
          <mat-option value="General">{{'General' | translate}}</mat-option>
          <mat-option value="Mature">{{'Mature' | translate}}</mat-option>
          <mat-option value="Explicit">{{'Adult' | translate}}</mat-option>
          <mat-option value="Extreme">{{'Extreme' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="clearfix"></div>
      <mat-form-field color="accent" class="schedule-field" [matTooltip]="submissionForm.value.schedule | date:'medium'">
        <input class="w-100" matInput formControlName="schedule" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [placeholder]="'Time to post' | translate">
        <owl-date-time #dt1></owl-date-time>
      </mat-form-field>
      <div class="thumbnail-field">
        <file-input formControlName="thumbnailFile" [allowClipboard]="false" [name]="'Thumbnail' | translate" [maxFileSize]="2000000" accept="image/*"></file-input>
      </div>
      <div class="alt-image-field" *ngIf="submissionForm.value.submissionType === 'Artwork'">
        <input #altImageInput type="file" multiple class="d-none" (change)="addAltImages($event)">
        <mat-form-field color="accent" [matTooltip]="'Only applies to Inkbunny, Pixiv, Tumblr, and Twitter' | translate">
          <input type="text" accept="image/*" class="w-100" matInput readonly (click)="altImageInput.click()" [value]="getAltImageCount()" [placeholder]="'Additional Images' | translate">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>