<mat-form-field color="accent" class="w-100">
  <mat-select [formControl]="selectControl" [placeholder]="placeholder | translate" [multiple]="multiple" [required]="required">
    <ng-template ngFor let-folder [ngForOf]="folders">
      <mat-optgroup *ngIf="folder.subfolders && folder.subfolders.length" [label]="folder.title">
        <mat-option *ngFor="let subfolder of folder.subfolders" [value]="subfolder.id">{{ subfolder.title }}</mat-option>
      </mat-optgroup>

      <mat-option *ngIf="!folder.subfolders" [value]="folder.id">{{ folder.title }}</mat-option>
    </ng-template>
  </mat-select>
</mat-form-field>
