<h2 mat-dialog-title>{{'Order Images' | translate}}</h2>
<mat-dialog-content>
  <div>
    <div *ngFor="let img of additionalFiles">
      <div class="row no-gutters">
        <div class="col-md col-xl col-lg col-sm">
          <file-viewer [file]="img" height="100" width="100"></file-viewer>
        </div>
        <div class="col-md col-xl col-lg col-sm">
          <button class="d-block" mat-icon-button (click)="moveUp(img)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
          <button class="d-block" mat-icon-button (click)="moveDown(img)">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>{{'Cancel' | translate}}</button>
  <button mat-raised-button color="primary" (click)="save()">{{'Save' | translate}}</button>
</mat-dialog-actions>