.loading-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.loading-overlay .blocking-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.pb-container {
  height: 100%;
}

.pb-sidebar {
  display: grid;
  grid-template-rows: auto auto;
  width: 200px;
  background-color: #222;
}

.pb-sidebar .actions {

}

.actions .add-button {
  height: 48px; /* to match tab bar */
}

.pb-sidebar .actions button {
  border-radius: 0 !important;
}

.pb-sidebar .submission-nav {

}
