.pb-container {
  height: 100%;
}

.pb-sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 200px;
  background-color: #222;
}

.actions .add-button {
  height: 48px;
  /* to match tab bar */
}

.pb-sidebar .actions button {
  border-radius: 0 !important;
}

.pb-sidebar .submission-nav {
  z-index: 100;
}

.pb-content-grid {
  display: grid;
  grid-template-rows: 48px calc(100% - 48px);
  /* 48px is height of tab bar */
}

.container {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-input {
  max-width: 200px;
  font-size: 12px;
  margin-bottom: -15px;
}

cdk-virtual-scroll-viewport {
  height: 100%;
}

td {
  padding: 0.25em !important;
}
