<div class="loading-overlay">
  <!-- Blocks UI when loading large data -->
  <div class="blocking-overlay" *ngIf="loading">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>

  <div class="pb-container row no-gutters">
    <div class="pb-sidebar mat-elevation-z4">
      <div class="actions">
        <button color="accent" class="add-button w-100" mat-flat-button [matMenuTriggerFor]="addMenu">
          <mat-icon>add</mat-icon>
          <span>{{ 'New' | translate }}</span>
        </button>
        <mat-menu #addMenu="matMenu" class="width-200" xPosition="after">
          <button mat-menu-item (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon>{{ 'Submission' | translate }}
          </button>
          <button mat-menu-item (click)="createNewJournal()">
            <mat-icon>message</mat-icon>{{ 'Journal/Status' | translate }}
          </button>
        </mat-menu>
        <input #fileInput type="file" class="d-none" (change)="filesSelected($event)" multiple>
        <mat-form-field class="w-100 search-input" color="accent" appearance="fill">
          <input matInput [formControl]="searchControl">
          <mat-icon style="vertical-align: bottom; font-size: 1.2em" matPrefix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="submission-nav">
        <table class="table table-dark m-0" style="height: 100%">
          <cdk-virtual-scroll-viewport itemSize="105" class="example-viewport">
            <tr *cdkVirtualFor="let record of submissions; templateCacheSize: 0">
              <td>
                <submission-record-view [submission]="record"></submission-record-view>
              </td>
            </tr>
          </cdk-virtual-scroll-viewport>
        </table>
      </div>
    </div>

    <div class="col-sm col-md col-lg col-xl">
      <nav mat-tab-nav-bar backgroundColor="accent">
        <a mat-tab-link routerLink="/bulk" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          <mat-icon>view_list</mat-icon>
          <span>{{ 'Bulk' | translate }}</span>
        </a>

        <a mat-tab-link routerLink="/template" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          <mat-icon>folder</mat-icon>
          <span>{{ 'Template' | translate }}</span>
        </a>

        <a *ngFor="let tab of _tabManager.tabChanges | async" mat-tab-link [routerLink]="tab.type + '/' + tab.id" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          <submission-tab [tab]="tab"></submission-tab>
        </a>
      </nav>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
