<ng-snotify></ng-snotify>
<hotkeys-cheatsheet></hotkeys-cheatsheet>
<div class="app-layout mat-app-background">
  <mat-toolbar color="primary" class="mat-elevation-z6 p-0">
    <div class="drawer-control">
      <button mat-icon-button [disableRipple]="true" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="app-icon">
      <img src="./assets/icon/minnowicon.png" alt="PostyBirb Icon">
      <h3>PostyBirb</h3>
      <span class="version-number">{{version}}</span>
      <button mat-button (click)="openURL('http://www.postybirb.com/contact.html')">
        <mat-icon>bug_report</mat-icon><span style="font-size: 12px">Feedback/Report a Bug</span>
      </button>
    </div>
    <div class="language-select">
      <div class="pl-2 w-100 fill-background" style="height: 100%">
        <mat-select style="height: 100%; padding-top: .25em" [(value)]="userLanguage" (selectionChange)="changeLanguage($event)">
          <mat-option value="ar">عربى (Arabic)</mat-option>
          <mat-option value="zh">中文 (Chinese)</mat-option>
          <mat-option value="de">Deutsch (German)</mat-option>
          <mat-option value="en">English</mat-option>
          <mat-option value="fi">Finnish</mat-option>
          <mat-option value="fr">Français (French)</mat-option>
          <mat-option value="th">ไทย (Thai)</mat-option>
          <mat-option value="it">Italiano (Italian)</mat-option>
          <mat-option value="ja">日本語 (Japanese)</mat-option>
          <mat-option value="pt">Português (Portuguese)</mat-option>
          <mat-option value="ru">Русский (Russian)</mat-option>
          <mat-option value="es">Español (Spanish)</mat-option>
        </mat-select>
      </div>
    </div>
  </mat-toolbar>

  <mat-drawer-container>
    <mat-drawer mode="side" opened #drawer>
      <a [matTooltip]="'Login' | translate" matTooltipPosition="right" (click)="loginPanel.toggle()">
        <i class="fas fa-users"></i>
      </a>
      <a [matTooltip]="'Help Translate' | translate" matTooltipPosition="right" (click)="openURL('http://www.postybirb.com/help-translate.html')">
        <i class="fas fa-language"></i>
      </a>
      <a [matTooltip]="'Join our Discord!' | translate" matTooltipPosition="right" (click)="openURL('https://discordapp.com/invite/jK5JQJF')">
        <i class="fab fa-discord"></i>
      </a>
      <a [matTooltip]="'Buy me a coffee!' | translate" matTooltipPosition="right" (click)="openURL('http://ko-fi.com/A81124JD')">
        <div>
          <img class="kofi-img" src="https://ko-fi.com/img/cuplogo.svg">
        </div>
      </a>
      <a [matTooltip]="'Settings' | translate" matTooltipPosition="right" (click)="openSettings()">
        <i class="fas fa-cog"></i>
      </a>
      <a [matTooltip]="'Shortcuts' | translate" matTooltipPosition="right" (click)="toggleCheatSheet()">
        <i class="far fa-keyboard"></i>
      </a>
    </mat-drawer>

    <mat-drawer-content>
      <mat-sidenav-container [autosize]="true">
        <mat-sidenav mode="over" #loginPanel>
          <login-container></login-container>
        </mat-sidenav>

        <mat-sidenav-content>
          <postybirb-layout></postybirb-layout>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
