.app-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: 40px calc(100vh - 66px) 26px;
  grid-template-columns: 100%;
}

header mat-toolbar {
  height: 100%;
}

footer mat-toolbar {
  height: 100% !important;
}

mat-sidenav-container,
mat-drawer-container {
  height: 100%;
}

.toolbar-content {
  flex: 10;
  height: 100%;
}

.toolbar-content div {
  display: inline-block;
}

.toolbar-app-icon {
  height: 100%;
}

.toolbar-app-icon img {
  height: 100%;
  width: auto;
  padding: 0.2em 0;
}

.toolbar-app-icon h3 {
  display: inline;
}

.toolbar-app-icon .version-number {
  font-size: 0.55em;
}

.toolbar-buttons {
  margin-right: 6px;
}

.status-bar {
  height: 100%;
}

.kofi {
  height: 100%;
  flex: 1;
}

.kofi button {
  background-color: #46b798;
  height: 100%;
  border-radius: 0;
  margin: auto;
}

.kofi img {
  height: 100%;
  width: auto;
}

.language-select {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #464545;
  color: #ffffff;
  z-index: 9999;
  height: 26px;
  border: none;
  outline: none;
}

.main-section {
  z-index: 0;
  background: #222;
  height: 100%;
}
