<ng-snotify></ng-snotify>
<hotkeys-cheatsheet></hotkeys-cheatsheet>
<div class="app-container">
  <header class="px-0">
    <mat-toolbar color="primary" class="mat-elevation-z6 px-0">
      <div class="toolbar-content">
        <div class="toolbar-buttons">
          <button mat-icon-button="mat-icon-button" (click)="menuSidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-button="mat-button" (click)="loginPanel.toggle()">{{'Login' | translate}}</button>
        </div>
        <div class="toolbar-app-icon">
          <img src="./assets/icon/minnowicon.png" alt="PostyBirb Icon">
          <h3>PostyBirb</h3>
          <span class="version-number">{{version}}</span>
        </div>
        <div>
          <button mat-button class="text-warning" (click)="openURL('http://www.postybirb.com/contact.html')">
            <mat-icon>bug_report</mat-icon><span>Feedback/Report a Bug</span>
          </button>
        </div>
      </div>
      <div class="kofi">​
        <button title="Join our Discord!" mat-button="mat-button" (click)="openURL('https://discordapp.com/invite/jK5JQJF')">
          <span>
              <img src="./assets/other-images/discord_icon.svg" alt="Join our Discord!">
          </span>
        </button>
        <button title="Support me on ko-fi.com" mat-button="mat-button" (click)="openURL('http://ko-fi.com/A81124JD')">
          <span>
            <img style="padding: 4px 0" src="https://ko-fi.com/img/cuplogo.svg">
          </span>
          <span> Buy Me a Coffee</span>
        </button>
      </div>
    </mat-toolbar>
  </header>

  <div class="main-section">
    <mat-sidenav-container color="primary" [hasBackdrop]="false">
      <mat-sidenav mode="push" #menuSidenav>
        <sidebar (login)="loginPanel.toggle()"></sidebar>
      </mat-sidenav>
      <mat-drawer-container>
        <mat-drawer mode="over" #loginPanel>
          <mat-nav-list>
            <pb-websites></pb-websites>
          </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </mat-sidenav-container>
  </div>

  <footer class="px-0">
    <mat-toolbar color="accent" class="px-0">
      <div class="status-bar">
        <postybirb-status-bar>
        </postybirb-status-bar>
      </div>
    </mat-toolbar>
  </footer>
</div>

<div>
  <select class='language-select' name="language_select" id="language_select" title='Language Select' [(ngModel)]="userLanguage" (change)="switchLanguage($event.target.value)">
    <option value="en" title="English">English</option>
    <option value="fi" title="Finnish">Finnish</option>
    <option value="fr" title="French">French</option>
    <option value="de" title="German">German</option>
    <option value="pt" title="Portuguese">Portuguese</option>
    <option value="ru" title="Russian">Russian</option>
    <option value="es" title="Spanish">Spanish</option>
  </select>
</div>
