mat-sidenav-container {
  height: 100%;
}

.toolbar {
  height: 6vh;
}

.toolbar-content {
  flex: 10;
  height: 100%;
}

.toolbar-content div {
  display: inline-block;
}

.toolbar-app-icon {
  height: 100%;
}

.toolbar-app-icon img {
  height: 100%;
  width: auto;
  padding: 0.2em 0;
}

.toolbar-app-icon h3 {
  display: inline;
}

.toolbar-app-icon .version-number {
  font-size: 0.55em;
}

.toolbar-buttons {
  margin-right: 6px;
}

.status-toolbar {
  height: 3vh;
  position: fixed;
  bottom: 0;
}

.status-bar {
  height: 100%;
}

.kofi {
  height: 100%;
}

.kofi button {
  background-color: #46b798;
  height: 100%;
  border-radius: 0;
  margin: auto;
}

.kofi img {
  height: 100%;
  width: auto;
}

.language-select {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #464545;
  color: #ffffff;
  z-index: 9999;
}

.main-section {
  z-index: 0;
}

.main-content {
  background: #222;
  height: 100%;
}

.width-toggle {
  transition: width 0.2s, flex-basis 0.2s;
}

.sidebar-section {
  z-index: 10;
}

.sidebar {
  background: #424242;
  height: 100%;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  overflow-y: auto;
}

.sidebar div {
  padding: 0;
}

.closed-sidebar {
  padding: 0;
  width: 0;
  flex-basis: 0%;
}

.closed-sidebar div {
  margin: 0;
}
