.postybirb__submission-form {
  display: flex;
}

.postybirb__submission-form .postybirb__submission-form-sections {
  flex: 8;
}

.postybirb__submission-form .postybirb__submission-form-navigator {
  flex: 1;
  margin-left: 1.25em;
}

.postybirb__submission-form .postybirb__submission-form-navigator .euiSideNav {
  position: fixed;
}

.postybirb__submission-form
  .postybirb__submission-form-navigator
  .euiSideNavItem--root {
  padding: 0;
}

.postybirb__submission-form-section {
  margin-bottom: 1em;
}

.postybirb__radio-horizontal {
  display: 'flex';
  gap: 1em;
}

.postybirb__submission-form .euiSideNavItem--trunk {
  margin-left: 1em;
}

.postybirb__submission-form .euiSideNavItemButton,
.postybirb__submission-form .euiSideNavItem {
  margin-bottom: 0;
  margin-top: 0;
}
