<form [formGroup]="formGroup">
  <div class="section">
    <h6>{{ 'Description' | translate }}</h6>
    <description-input formControlName="description" [defaultDescriptionProvider]="parentForm.defaultDescription.changes" class="w-100"></description-input>
  </div>

  <div class="section">
    <h6>{{ 'Tags' | translate }}</h6>
    <tag-input formControlName="tags" class="w-100" [config]="tagConfig" [defaultTagProvider]="parentForm.defaultTags.changes"></tag-input>
  </div>

  <div formGroupName="options" class="row no-gutters section">
    <div class="col-md col-lg col-xl">
      <mat-checkbox formControlName="chargePatrons">{{'Charge Patrons' | translate}}</mat-checkbox> <small *ngIf="formGroup.value.options.chargePatrons" class="form-text">Patrons will be charged their pledge amount for this post on the first of next month.</small>
    </div>

    <div class="col-md-9 col-lg-9 col-xl-9">
      <div class="row no-gutters">
        <folder-select formControlName="tiers" class="col-md-6 col-lg-6 col-xl-6" placeholder="Access Tiers" [folders]="folders" [multiple]="true"></folder-select>
        <mat-form-field name="schedule-field" color="accent" class="col-md-4 col-lg-4 col-xl-4">
          <input class="w-100" matInput formControlName="schedule" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [placeholder]="'Schedule' | translate">
          <mat-icon style="vertical-align: bottom; font-size: 1.2em" matSuffix>access_time</mat-icon>
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>

        <mat-form-field name="schedule-field" color="accent" class="col-md-4 col-lg-4 col-xl-4">
          <input class="w-100" matInput formControlName="earlyAccess" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" [placeholder]="'Early Access' | translate">
          <mat-icon style="vertical-align: bottom; font-size: 1.2em" matSuffix>access_time</mat-icon>
          <mat-hint>This post will become public on</mat-hint>
          <owl-date-time #dt2></owl-date-time>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
