<div class="website-form">
  <div name="options" *ngIf="isActive">
    <form [formGroup]="optionsForm" class="row no-gutters">
      <div class="col-md col-lg col-xl col-sm">
        <mat-checkbox formControlName="blockGuests">{{'Block Guests' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="friendsOnly">{{'Friends Only' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="notify">{{'Notify' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="scraps">{{'Scraps' | translate}}</mat-checkbox>
      </div>

      <div class="col-md-8 col-lg-7 col-xl-8 col-sm">
        <mat-form-field color="accent" class="w-100">
          <mat-select formControlName="rating" [placeholder]="'Rating' | translate">
            <mat-option [value]="2">Nudity - Nonsexual</mat-option>
            <mat-option [value]="3">Violence - Mild</mat-option>
            <mat-option [value]="4">Sexual Themes - Erotic</mat-option>
            <mat-option [value]="5">Strong Violence</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
