<div mat-dialog-title>
  <div class="w-100 d-flex">
    <h4 style="flex: 10"></h4>
    <div class="m-auto">
      <button class="close-button warn-text" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="my-2">
    <form class="d-flex" *ngFor="let d of data">
      <div class="mr-1" style="vertical-align: top">
        <img *ngIf="d.isImage" [src]="d.buffer | objectURL | safe" [alt]="d.file.name" [title]="d.file.name">
        <img *ngIf="!d.isImage" [alt]="d.file.name" [title]="d.file.name">
      </div>
      <div class="data-section">
        <div class="row no-gutters">
          <div class="w-100">
            <div class="row no-gutters">
              <div class="col">
                <mat-form-field color="accent" class="d-block">
                  <input matInput name="title" [(ngModel)]="d.title" maxlength="50" [placeholder]="'Title' | translate">
                </mat-form-field>
              </div>
              <mat-form-field color="accent" class="col">
                <mat-select [placeholder]="'Template' | translate" (selectionChange)="d.formData = $event.value">
                  <mat-option *ngFor="let template of templates" [value]="template.data">{{ template.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="w-100">
            <div class="row no-gutters">
              <mat-radio-group color="accent" (change)="d.rating = $event.value" class="col">
                <mat-radio-button value="General">{{ 'General' | translate }}</mat-radio-button>
                <mat-radio-button value="Mature">{{ 'Mature' | translate }}</mat-radio-button>
                <mat-radio-button value="Adult">{{ 'Adult' | translate }}</mat-radio-button>
                <mat-radio-button value="Extreme">{{ 'Extreme' | translate }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<div mat-dialog-actions class="confirm-actions">
  <button mat-flat-button mat-dialog-close color="warn" class="no-button">{{ 'Cancel' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="data" color="primary" class="yes-button">{{ 'Yes' | translate }}</button>
</div>
