<div class="website-form">
  <form [formGroup]="form">
    <h5>{{'Description' | translate}}</h5>
    <div name="description" *ngIf="isActive">
      <description-field class="clearfix" formControlName="description" [defaultDescription]="defaultDescription"></description-field>
    </div>
    <div name="tags">
      <h5>{{'Tags' | translate}}</h5>
      <tag-field class="clearfix w-100" formControlName="tags" [defaultTags]="defaultTags"></tag-field>
    </div>
  </form>
  <div name="options" *ngIf="isActive">
    <h5>{{'Additional Options' | translate}}</h5>
    <form [formGroup]="optionsForm">
      <div class="row no-gutters">
        <div class="col-md-2 col-lg-2 col-xl-1">
          <mat-checkbox formControlName="blockGuests">{{'Block Guests' | translate}}</mat-checkbox>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-1">
          <mat-checkbox formControlName="friendsOnly">{{'Friends Only' | translate}}</mat-checkbox>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-1">
          <mat-checkbox formControlName="notify">{{'Notify' | translate}}</mat-checkbox>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-1">
          <mat-checkbox formControlName="scraps">{{'Scraps' | translate}}</mat-checkbox>
        </div>
      </div>
    </form>
  </div>
</div>
