<div class="website-form">
  <form [formGroup]="form">
    <div name="description" *ngIf="isActive">
      <h5>{{'Description' | translate}}</h5>
      <description-field class="clearfix" formControlName="description" [defaultDescription]="defaultDescription"></description-field>
    </div>
    <div name="tags">
      <h5>{{'Tags' | translate}}</h5>
      <tag-field class="clearfix w-100" formControlName="tags" [defaultTags]="defaultTags" [minimumTags]="4"></tag-field>
    </div>
  </form>
  <div name="options" *ngIf="isActive">
    <h5>{{'Additional Options' | translate}}</h5>
    <form [formGroup]="optionsForm">
      <div class="row no-gutters">
        <div class="col-md col-lg col-xl">
          <mat-form-field color="accent">
            <input matInput placeholder="{{'Source URL' | translate}}" formControlName="sourceURL">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
