<div class="landing row no-gutters">
  <div class="card-container col-12">
    <mat-card>
      <mat-card-title>
        {{'login-profile-title' | translate }}
      </mat-card-title>
      <mat-card-content>
        <p>
          {{ 'login-profile-d1' | translate }}
          <br>
          {{ 'login-profile-d2' | translate }}
        </p>
        {{ 'login-profile-d3' | translate }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container col-12">
    <mat-card class="actions">
      <mat-card-content>
        <div>
          <div class="d-flex flex-wrap">
            <mat-card>
              <mat-card-title>{{ 'Create New Login Profile' | translate }}</mat-card-title>
              <mat-card-content>
               {{ 'login-profile-create-text' | translate }}
              </mat-card-content>
              <mat-card-footer>
                <button mat-button color="accent" (click)="createNewLoginProfile()">{{ 'Create' | translate }}</button>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-container col-12">
    <mat-card>
      <mat-card-title>
        {{ 'Login Profiles' | translate }}
      </mat-card-title>
      <mat-card-content>
        <div class="table-wrapper">
          <table class="table table-dark table-striped table-hover">
            <tbody>
              <tr *ngFor="let profile of profiles; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ profile.name }}</td>
                <td>
                  <span *ngIf="profile.defaultProfile">{{ 'Default' | translate }}</span>
                  <span *ngIf="!profile.defaultProfile">
                    <button mat-button color="accent" (click)="setDefault(profile)">{{ 'Make Default' | translate }}</button>
                  </span>
                </td>
                <td>
                  <button mat-icon-button color="accent" (click)="renameProfile(profile)" [matTooltip]="'Rename' | translate">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="resetProfile(profile)" [matTooltip]="'Reset' | translate">
                    <mat-icon>cached</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" [disabled]="profile.defaultProfile" (click)="deleteProfile(profile)" [matTooltip]="'Delete' | translate">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
