<div mat-dialog-title>
  <div class="w-100 d-flex">
    <h4 style="flex: 10"></h4>
    <div class="m-auto">
      <button class="close-button warn-text" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content style="height: calc(100vh - 150px); max-height: calc(100vh - 150px);">
  <div>
    <mat-radio-group [formControl]="ratioControl">
      <mat-radio-button [value]="originalRatio" *ngIf="originalRatio !== 1/1">Unset</mat-radio-button>
      <mat-radio-button [value]="1/1">1:1</mat-radio-button>
      <mat-radio-button [value]="4/3">4:3</mat-radio-button>
      <mat-radio-button [value]="16/9">16:9</mat-radio-button>
    </mat-radio-group>
  </div>
  <image-cropper [imageQuality]="100" format="jpeg" (imageCropped)="cropped($event)" outputType="base64" [imageBase64]="base64" [aspectRatio]="ratio" [maintainAspectRatio]="true"></image-cropper>
</div>
<div mat-dialog-actions class="confirm-actions">
  <button mat-flat-button [mat-dialog-close]="false" color="warn" class="no-button">{{ 'Cancel' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="cropped64" color="primary" class="yes-button">{{ 'Yes' | translate }}</button>
</div>
