<div mat-dialog-title>
  <div class="w-100 d-flex">
    <h4 style="flex: 10">{{ 'Settings' | translate }}</h4>
    <div class="m-auto">
      <button class="close-button warn-text" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <form [formGroup]="settingsForm" (ngSubmit)="$event.preventDefault()">
    <mat-accordion [multi]="true">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Data' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-flat-button type="button" color="warn" (click)="clearAllData()">{{ 'Clear Submission Data' | translate }}</button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Performance' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle formControlName="hardwareAcceleration">Hardware Acceleration</mat-slide-toggle>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'Startup' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle formControlName="startAsTaskbar">Start application as taskbar only</mat-slide-toggle>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>PostyBirb</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-slide-toggle formControlName="advertise">{{ 'Help Advertise PostyBirb' | translate }}</mat-slide-toggle>
        <mat-slide-toggle formControlName="clearQueueOnFailure">{{ 'Empty Queue When A Post Fails' | translate }}</mat-slide-toggle>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>{{ 'Time Between Posts' | translate }}</mat-label>
          <input type="number" matInput formControlName="postInterval" min="0">
          <mat-hint>{{ 'In minutes' | translate }}</mat-hint>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
