<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="window">
  <div class="row" style="max-height: 600px;">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <p [innerText]="data.description"></p>
      <br>
      <mat-chip-list>
        <mat-chip color="accent" *ngFor="let tag of data.options.tags">{{tag}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12" style="margin-top: 10px;">
    <div class="row" *ngIf="selectedWebsites && selectedWebsites.length > 0">
      <div class="col-md-3 col-lg-3 col-xl-3" *ngFor="let website of selectedWebsites">
        <submit-status (complete)="submitComplete($event)" [data]="data" [website]="website"></submit-status>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="right"></mat-dialog-actions>
