.crossed-out:after {
  position: absolute;
  font-size: 1.5em;
  left: 9px;
  top: -6px;
  content: '|';
  color: red;
  display: block;
  font-weight: bold;
  text-align: center;
  transform: rotate(45deg);
  pointer-events: none;
}

.clear-cookies {
  cursor: pointer;
  position: relative;
  color: brown;
  font-size: 18px;
}
