@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-light-blue, 600, 100, 800);
$warn: mat-palette($mat-red, 600);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme); // Material Icons
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("./vendors/fonts/material-icons.woff2") format('woff2');
}

.warn-text {
  color: mat-color($warn);
}

.btn-link {
  color: mat-color($accent) !important;
}

.btn-link:hover {
  color: mat-color($accent, 800) !important;
}

.btn-secondary {
  background-color: mat-color($accent) !important;
  border-color: mat-color($accent) !important;
}

.bordered:not(.clear-border) {
  background:
    linear-gradient(to right, mat-color($accent) 1px, transparent 1px) 0 0,
    linear-gradient(to right, mat-color($accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, mat-color($accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, mat-color($accent) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, mat-color($accent) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, mat-color($accent) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, mat-color($accent) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, mat-color($accent) 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 8px 10px;
  border-radius: 0 !important;
}

.bordered:hover:not(.clear-border) {
  background:
    linear-gradient(to right, mat-color($accent, 800) 1px, transparent 1px) 0 0,
    linear-gradient(to right, mat-color($accent, 800) 1px, transparent 1px) 0 100%,
    linear-gradient(to left, mat-color($accent, 800) 1px, transparent 1px) 100% 0,
    linear-gradient(to left, mat-color($accent, 800) 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, mat-color($accent, 800) 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, mat-color($accent, 800) 1px, transparent 1px) 100% 0,
    linear-gradient(to top, mat-color($accent, 800) 1px, transparent 1px) 0 100%,
    linear-gradient(to top, mat-color($accent, 800) 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 8px 10px;
  border-radius: 0 !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* Customize Material CSS */
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0 !important;
}

.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  vertical-align: bottom;
}

.mat-tab-link {
  min-width: 50px !important;
  padding: 0 12px !important;
}
