/* You can add global styles to this file, and also import other style files */
/* CSS to force fullscreen */
html, body {
  height: 100% !important;
  max-height: 100vh !important;
  width: 100% !important;
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

/* CSS for loading in background */
body {
  background: #222 !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px !important;
  }
}

/* Scrollbar CSS Customization */

*::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #888;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

*::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #22ADD4, #1E98BA);
}
