.postybirb__file-card-container {
  width: 100%;
  margin: 0;
  box-shadow: inset 16px 0px 16px -16px rgba(0, 0, 0, 0.45),
    inset -16px 0px 16px -16px rgba(0, 0, 0, 0.45);
  padding: 0.1em 0.5em;
  border-radius: 8px;
  max-height: 668px;
  overflow-y: auto;
}

.postybirb__file-card-container .postybirb__file-card-flex-item {
  /* height: 160px; */
}

.postybirb__file-card-container .postybirb__file-card {
  height: 100%;
  padding: 8px 0;
}

.postybirb__file-card .postybirb__file-card-info {
  margin-top: 0.25em;
}

.postybirb__file-card .postybirb__file-card-primary,
.postybirb__file-card .postybirb__file-card-thumbnail {
  /* flex-basis: 25%; */
  flex-grow: 0;
}

.postybirb__file-card .postybirb__file-card-display {
  height: 90%;
}
