<mat-card>
  <mat-card-title>{{'PostyBirb Post Logs' | translate}}</mat-card-title>
  <mat-card-content>
    <mat-table [dataSource]="logs">

      <ng-container matColumnDef="time">
        <mat-header-cell *matHeaderCellDef>
          {{'Time' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let log">
          {{log.time | date:'medium'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>
          {{'Title' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let log">
          {{log.data.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef>
          {{'Submission Rating' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let log">
          {{log.data.submissionRating | translate}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>
          {{'Submission Type' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let log">
          {{log.data.submissionType | translate}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="warn" (click)="clearLogs()">{{'CLEAR' | translate}}</button>
  </mat-card-actions>
</mat-card>
