<div mat-dialog-title>
  <div class="w-100 d-flex">
    <h4 style="flex: 10">{{ 'Templates' | translate }}</h4>
    <div class="m-auto">
      <button class="close-button warn-text" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <mat-radio-group>
    <mat-radio-button #templateRadio checked [value]="0">{{ 'Templates' | translate }}</mat-radio-button>
    <mat-radio-button #submissionRadio [disabled]="!submissions.length" [value]="1">{{ 'Submission' | translate }}</mat-radio-button>
  </mat-radio-group>
  <mat-form-field color="accent" appearance="fill" class="w-100" *ngIf="templateRadio.checked">
    <mat-label>{{ 'Templates' | translate }}</mat-label>
    <mat-select [formControl]="selectControl">
      <mat-option *ngFor="let template of templates" [value]="template">{{ template.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="accent" appearance="fill" class="w-100" *ngIf="submissionRadio.checked">
    <mat-label>{{ 'Submission' | translate }}</mat-label>
    <mat-select [formControl]="selectControl">
      <mat-option *ngFor="let template of submissions" [value]="template">{{ template.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="confirm-actions">
  <button mat-flat-button mat-dialog-close color="warn" class="no-button">{{ 'Cancel' | translate }}</button>
  <button mat-flat-button [mat-dialog-close]="selectControl.value" color="primary" class="yes-button" [disabled]="selectControl.invalid">{{ 'Yes' | translate }}</button>
</div>
