<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="row no-gutters">
        <form [formGroup]="form" class="col-md-12 row no-gutters primary-form">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-form-field color="accent" class="w-100">
              <input matInput #title placeholder="{{'Title' | translate}}" formControlName="title" maxLength="50" required>
              <mat-hint align="end" [class.mat-error]="title.value.length < 5">{{title.value.length}} / {{title.maxLength}}
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-radio-group formControlName="rating" required>
              <mat-radio-button value="General">{{'General' | translate}}</mat-radio-button>
              <mat-radio-button value="Mature">{{'Mature' | translate}}</mat-radio-button>
              <mat-radio-button value="Explicit">{{'Adult' | translate}}</mat-radio-button>
              <mat-radio-button value="Extreme">{{'Extreme' | translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-form-field color="accent" class="w-100">
              <mat-select [placeholder]="'Selected Websites' | translate" multiple="true" formControlName="selectedWebsites" required>
                <mat-optgroup label="{{'Available Websites' | translate}}">
                  <mat-option *ngFor="let item of supportedWebsites.online" [value]="item">{{item}}</mat-option>
                </mat-optgroup>
                <mat-optgroup *ngIf="supportedWebsites.offline && supportedWebsites.offline.length > 0" disabled="true" label="{{'Offline' | translate}}">
                  <mat-option *ngFor="let item of supportedWebsites.offline" [value]="item">{{item}}</mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12 mb-0">
            <ckeditor formControlName="description" [config]="ckConfig"></ckeditor>
          </div>
          <div class="col-md-10 col-lg-10 col-xl-10 mt-0">
            <description-help (advertise)="addAdvertisement($event)"></description-help>
          </div>
          <div class="col text-right">
            ({{estimatedDescriptionCount}})
          </div>
          <div class="col-md-12 col-lg-12 col-xl-12">
            <mat-form-field color="accent" class="w-100">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of form.value.tags" [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
                  {{tag}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="{{'Tags' | translate}}" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
        </form>

        <form [formGroup]="tumblrForm" class="col-md-12 row no-gutters" *ngIf="form.value.selectedWebsites && form.value.selectedWebsites.includes(websites.Tumblr)">
          <div class="col">
            <h4>Tumblr</h4>
          </div>
          <div class="col-md-12">
            <tumblr-blog-select formControlName="blog"></tumblr-blog-select>
          </div>
        </form>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="clearForm()">{{'New' | translate}}</button>
      <button mat-button color="accent" (click)="post()" [disabled]="form.invalid">{{'Post' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>