.submission-info-container {
  font-size: 10px;
}

.submission-info-container .submission-controls {
  vertical-align: top;
}

.submission-input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #039be5;
  color: white;
}

mat-select {
  border-bottom: 1px solid #039be5;
}

.submission-input:focus {
  border-bottom-width: 2px;
}

.img {
  height: 50px;
  width: 50px;
  min-width: 50px;
  margin: auto;
}

.img img {
  height: 50px;
  width: 50px;
}

.img mat-icon {
  font-size: 50px;
}

.control-btns {
  margin-top: 2px;
}

.control-btns div:first-child {
  max-width: 50px !important;
}

.control-btns button {
  border-radius: 0 !important;
  height: 26px;
  width: 100%;
}

.control-btns .col button:not(.btn-info) {
  background:
    linear-gradient(to right, #007bff 1px, transparent 1px) 0 0,
    linear-gradient(to right, #007bff 1px, transparent 1px) 0 100%,
    linear-gradient(to left, #007bff 1px, transparent 1px) 100% 0,
    linear-gradient(to left, #007bff 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, #007bff 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, #007bff 1px, transparent 1px) 100% 0,
    linear-gradient(to top, #007bff 1px, transparent 1px) 0 100%,
    linear-gradient(to top, #007bff 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 8px 10px;
}

button mat-icon {
  font-size: 16px;
  vertical-align: top;
  height: 16px;
}
