.submission-info-container {
  font-size: 10px;
}

.submission-info-container .submission-controls {
  vertical-align: top;
}

.submission-input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #039be5;
  color: white;
}

mat-select {
  border-bottom: 1px solid #039be5;
}

.submission-input:focus {
  border-bottom-width: 2px;
}

.img {
  height: 50px;
  width: 50px;
  min-width: 50px;
  margin: auto;
}

.img img {
  height: 50px;
  width: 50px;
}

.img mat-icon {
  font-size: 50px;
}

.control-btns {
  margin-top: 2px;
}

.control-btns div:first-child {
  max-width: 50px !important;
}

.control-btns button {
  border-radius: 0 !important;
  height: 26px;
  width: 100%;
}

button mat-icon {
  font-size: 16px;
  vertical-align: top;
  height: 16px;
}
