.editing-form {
  padding: .5em;
  padding-bottom: 0;
  position: relative;
}

.form-actions {
  position: sticky;
  bottom: 0;
  background-color: #242424;
  margin-left: -23px;
  margin-right: -23px;
  margin-top: 1em;
}

.basic-form mat-form-field {
  display: block;
  margin: -.45em 0;
}

.help-icon {
  font-size: 1rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

mat-panel-title {
  width: 150px;
  flex-grow: unset;
}

.alert {
  width: 100%;
  border-radius: 0;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
