name: CI
on:
  push:
    branches:
      - main
  pull_request:

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'yarn'

      
      - run: yarn i --frozen-lockfile

      - uses: nrwl/nx-set-shas@v3

        # This line is needed for nx affected to work when CI is running on a PR
      - run: git branch --track main origin/main

      - name: Extract keys
        run: yarn lingui:extract
      
      - run: npx nx affected -t lint --parallel=3