name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

# Needed for nx-set-shas when run on the main branch
permissions:
  actions: read
  contents: read

jobs:
  ci:
    name: ${{ matrix.ci.name }}
    runs-on: ubuntu-latest
    if: github.head_ref != 'weblate-postybirb-postybirb'
    strategy:
      matrix:
        ci:
          - name: Lint
            command: "yarn nx affected -t lint --cache --cache-strategy content --cache-location .eslint"

          - name: TypeCheck
            command: "yarn nx affected -t typecheck"

          # xvfb-run is needed because electron still tries to get $DISPLAY env even if it does not launches the window
          # so to run tests on electron runner we need to add this command
          # log-level=2 is electron arg that disables useless spam in console about not able to access display.
          - name: Test
            command: 'xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- yarn nx affected -t test --log-level=2'

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          # We need to fetch all branches and commits so that Nx affected has a base to compare against.
          fetch-depth: 0

      - name: Use eslint, jest and tsc cache
        uses: actions/cache@v4
        with:
          # out-tsc needed because we use incremental in typecheck which uses files from tsc output
          path: |
            .eslint
            .jest
            dist/out-tsc

          key: ${{ runner.os }}-ci

        # This is needed to be run before node setup, because node setup uses yarn to get cache dir
      - name: Enable corepack to use Yarn v4
        run: corepack enable

      - name: Install Node.js and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: yarn

        # These flags needed to speed up ci
      - name: Install dependencies
        run: yarn install --immutable
        env:
          CYPRESS_INSTALL_BINARY: 0 # Skip downloading Cypress binary (not needed for CI)

        # Used to calculate affected
      - name: Setup SHAs
        uses: nrwl/nx-set-shas@v4

      - name: Run ${{ matrix.ci.name }}
        run: ${{ matrix.ci.command }}
        timeout-minutes: 30
