.sidebar-navigator-container {
  cursor: pointer;
  position: relative;
}

img, video {
  height: 100px;
  width: 100%;
  margin: auto;
  opacity: 0.68;
  transition: all .3s;
}

img:hover, video:hover {
  opacity: 1;
}

.incomplete-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.actions {
  position: absolute;
  top: 1px;
  right: 1px;
}
