.sidebar-navigator-container {
  cursor: pointer;
  position: relative;
}

.sidebar-navigator-container:hover img {
  opacity: 0.85;
}

img, video {
  pointer-events: none;
  height: 100px;
  width: 100%;
  margin: auto;
  opacity: 0.68;
  transition: all .3s;
}

.incomplete-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.actions {
  position: absolute;
  top: 1px;
  right: 1px;
}

.bulk-select {
  position: absolute;
  top: 45%;
  left: 50%;
}
