<div class="description-container">
  <mat-checkbox [formControl]="overwriteControl" *ngIf="canOverwrite">{{ 'Overwrite Default' | translate }}</mat-checkbox>
  <editor [formControl]="tinymce" [init]="tinyMCESettings" *ngIf="this.value.overwrite || !canOverwrite"></editor>
  <span class="text-muted" *ngIf="this.value.overwrite || !canOverwrite">{{characterCount}}</span>
</div>
<div class="description-buttons" *ngIf="this.value.overwrite || !canOverwrite">
  <button mat-flat-button (click)="saveDescriptionTemplate()">
    <mat-icon>add</mat-icon>
    {{ 'Description Template' | translate }}
  </button>
  <website-shortcuts></website-shortcuts>
</div>
